In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./mbti_datasets_1.csv')

df

                                                    text  mbti
0      약간 로망..[SEP]처럼 옥탑방에 살아보고 싶단 생각이 있는데 (몇 개월이라도) ...  enfj
1      라고 하기에 제가 가장 가까이서 본 사람이러[SEP]그런 맘은 아니었다고 좋게 댓글...  enfj
2      이 팁이 에프 제인 저보다 그것도 초면에 말이 많아서 제 말을 끊을 정도라니,,, ...  enfj
3      저는 고등학생이라,, 현금보다는 다른 의미 있는 걸 해드리고 싶어서요 주말에 식사 ...  enfj
4      너무 포괄적 질문이긴 한데 한 달에 요즘 얼마 버나요?[SEP]15년 전 아는 언니...  enfj
...                                                  ...   ...
20936  말하지 않아도 느껴야 했던 부분이고, 그걸 모르는 그 사람의 문제여야 하지, 참고 ...  istp
20937  상황이 어떻게 돌아가든 잘 되든 못되든 고민은 누구나 다 있는 듯요.[SEP] 진짜...  istp
20938  어릴 때부터 그랬는데 나이 들면 바뀐다[SEP] 결혼하면 바뀐다[SEP] 자기 애 ...  istp
20939  얘기가 딴 데로 샜는데 -a로 나오는 istp하고 에 팁은 어떤지 너무 궁금해요 [...  istp
20940  서로 아등바등 싸우는 것도 없고 질 나쁜 글이 올라오는 것도 아니고요 그냥 서로의 ...  istp

[20941 rows x 2 columns]

In [4]:
df['mbti'].unique()

array(['enfj', 'enfp', 'entj', 'entp', 'esfj', 'esfp', 'estj', 'estp',
       'infj', 'infp', 'intj', 'intp', 'isfj', 'isfp', 'istj', 'istp'],
      dtype=object)

In [6]:
df['mbti'].value_counts()

enfp    1662
entp    1662
infj    1662
infp    1662
intj    1662
intp    1662
isfp    1662
istp    1662
isfj    1414
entj    1385
istj    1295
enfj    1235
estp     636
estj     597
esfj     562
esfp     521
Name: mbti, dtype: int64

In [15]:
df['text'] = df['text'].str.replace('[SEP]', '')

df['text'][0]

/tmp/ipykernel_20352/2780089132.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df['text'].str.replace('[SEP]', '')

'약간 로망..처럼 옥탑방에 살아보고 싶단 생각이 있는데 (몇 개월이라도) 나만의 옥상에서 테이블 놓고 한잔하고 기분 좋을 거 같거든요 ㅎㅎ옥탑방 단점이 여름엔 너무 덥고 겨울에는 너무 춥다는데 이게 심할 정도 수준인지 살아보신 분이나 지인 집 가본 분들 어떠셨어요~??'

In [17]:
idx = 0
mbtis = {}

for mbti in df['mbti'].unique():
    mbtis[mbti] = idx
    idx += 1

mbtis

{'enfj': 0,
 'enfp': 1,
 'entj': 2,
 'entp': 3,
 'esfj': 4,
 'esfp': 5,
 'estj': 6,
 'estp': 7,
 'infj': 8,
 'infp': 9,
 'intj': 10,
 'intp': 11,
 'isfj': 12,
 'isfp': 13,
 'istj': 14,
 'istp': 15}

In [18]:
df['mbti'] = df['mbti'].map(mbtis)

df

                                                    text  mbti
0      약간 로망..처럼 옥탑방에 살아보고 싶단 생각이 있는데 (몇 개월이라도) 나만의 옥...     0
1      라고 하기에 제가 가장 가까이서 본 사람이러그런 맘은 아니었다고 좋게 댓글 달아도....     0
2      이 팁이 에프 제인 저보다 그것도 초면에 말이 많아서 제 말을 끊을 정도라니,,, ...     0
3      저는 고등학생이라,, 현금보다는 다른 의미 있는 걸 해드리고 싶어서요 주말에 식사 ...     0
4      너무 포괄적 질문이긴 한데 한 달에 요즘 얼마 버나요?15년 전 아는 언니가 딸기농...     0
...                                                  ...   ...
20936  말하지 않아도 느껴야 했던 부분이고, 그걸 모르는 그 사람의 문제여야 하지, 참고 ...    15
20937  상황이 어떻게 돌아가든 잘 되든 못되든 고민은 누구나 다 있는 듯요. 진짜 앞으로 ...    15
20938  어릴 때부터 그랬는데 나이 들면 바뀐다 결혼하면 바뀐다 자기 애 낳으면 안 그렇다 ...    15
20939  얘기가 딴 데로 샜는데 -a로 나오는 istp하고 에 팁은 어떤지 너무 궁금해요  ...    15
20940  서로 아등바등 싸우는 것도 없고 질 나쁜 글이 올라오는 것도 아니고요 그냥 서로의 ...    15

[20941 rows x 2 columns]

In [21]:
df.to_csv('mbti_labeling.csv', encoding='UTF-8', index=False)